<ion-view title="About" id="page18" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <h1 id="about-heading12" style="color:#FFFFFF;" class="font">Nepal Travel app</h1>
    <div id="about-markdown9" class="show-list-numbers-and-dots"></div>
    <div id="about-markdown10" class="show-list-numbers-and-dots font">
      <p style="color:#FFFFFF;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore hic odio sequi, ipsum explicabo nulla est deserunt, eveniet, sed maiores laboriosam dolores architecto excepturi error eos incidunt, beatae illum optio libero ullam eum ea. Consequatur
        deserunt cumque consequuntur recusandae nemo praesentium, perferendis illum autem earum? Incidunt facilis id fugit dolores.</p>

      <p style="color:#FFFFFF;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore hic odio sequi, ipsum explicabo nulla est deserunt, eveniet, sed maiores laboriosam dolores architecto excepturi error eos incidunt, beatae illum optio libero ullam eum ea. Consequatur
        deserunt cumque consequuntur recusandae nemo praesentium, perferendis illum autem earum? Incidunt facilis id fugit dolores.</p>
    </div>
    <div id="about-button-bar3" class="button-bar bg-white br-half">
      <a ui-sref="rate" id="about-button18" style="color:#000000;" class="button button-light  button-block button-icon icon ion-thumbsup font"> Rate us</a>
      <a ui-sref="feedback" id="about-button20" style="color:#000000;" class="button button-light  button-block button-icon icon ion-android-archive font"> Feedback</a>
    </div>
  </ion-content>
</ion-view>