<ion-view title="Feedback" id="page22" style="background-color:#020202;">
  <ion-content padding="true" class="has-header">
    <form id="feedback-form5" class="list form-pad">
      <h3 id="feedback-heading14" style="color:#FFFFFF;" class="font">Your feedback is our ladder to progress</h3>
      <div class="spacer" style="width: 300px; height: 19px;"></div>
      <h4 id="feedback-heading15" style="color:#FFFFFF;" class="font">Name:-</h4>
      <label class="item item-input br-quarter" id="feedback-input4" name="user_name">
        <input type="text" placeholder="">
      </label>
      <h4 id="feedback-heading16" style="color:#FFFFFF;" class="font">Email-id:-</h4>
      <label class="item item-input br-quarter" id="feedback-input5" name="user_email">
        <input type="email" placeholder="">
      </label>
      <h4 id="feedback-heading17" style="color:#FFFFFF;" class="font">Your Feedback:-</h4>
      <label class="item item-input br-quarter" id="feedback-input9" name="user_email">
        <input type="email" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 9px;"></div>
    </form>
    <button id="feedback-button13" style="font-size:20px;" class="button button-light  font">Submit</button>
  </ion-content>
</ion-view>