<ion-view title="Home" hide-nav-bar="true" id="page7" style="background-color:#000000;" class="font">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider3" delegate-handle="slider3" id="home-slider3" style="width:100%;height:100%;">
      <ion-slide-page id="home-slide29">
        <h2 id="home-heading6" style="color:#FFFFFF;font-style:italic;text-align:center;" class="font">Nepal Travel</h2>
        <h3 id="home-heading10" style="color:#FFFFFF;font-weight:400;" class="font">Sagarmatha : Roof of the world</h3>
        <div class="spacer" style="width: 320px; height: 15px;"></div>
        <div>
          <img src="img/Zpv5z5UR421PlJAxVoKw_download1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div id="home-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">A landlocked country the size of Arkansas, lying between India and the Tibetan Autonomous Region of China, Nepal contains Mount Everest (29,035 ft; 8,850 m), the tallest mountain in the world. Along its southern border, Nepal has a strip of
            level land that is partly forested, partly cultivated.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="home-slide215">
        <h2 id="home-heading7" style="color:#FFFFFF;font-style:italic;text-align:center;" class="font">Nepal Travel</h2>
        <h3 id="home-heading11" style="color:#FFFFFF;" class="font">Beauty of Nepal</h3>
        <div>
          <img src="img/o2juSrD5Tsm9MqqkZzam_download.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div id="home-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">A landlocked country the size of Arkansas, lying between India and the Tibetan Autonomous Region of China, Nepal contains Mount Everest (29,035 ft; 8,850 m), the tallest mountain in the world. Along its southern border, Nepal has a strip of
            level land that is partly forested, partly cultivated.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="home-slide216">
        <h2 id="home-heading8" style="color:#FFFFFF;text-align:center;" class="font">Nepal Travel</h2>
        <div>
          <img src="img/Ni42nu9SgG4l6tL1iesA_images.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <a ng-click="start()" id="home-button11" style="font-weight:600;font-size:25px;" class="button button-positive  button-block">Start</a>
        <div id="home-button-bar2" class="button-bar">
          <a ui-sref="info" id="home-button23" style="font-size:25px;" class="button button-balanced  button-block font">Info</a>
          <a ui-sref="gallery" id="home-button22" style="font-size:25px;" class="button button-positive  button-block font">Gallery</a>
          <a ui-sref="about" id="home-button24" style="font-size:25px;" class="button button-balanced  button-block font">About</a>
        </div>
        <button id="home-button25" style="font-size:25px;" class="button button-positive  button-block font">Exit</button>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>