<ion-view title="Info" id="page8" style="background-color:#0D0D0E;">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <p style="font-family: 'Lobster',
cursive;font-style:bold;color
:white;font-size:16px;padding
-left:18px">
      <br> Contact No:-888888888
      <br> Email-id:-sdfdsfa@gmail.com
      <br>
      <br> Developed By:-Sujan Khadka
      <br>
      <br> Follow us at:-
      <br> Facebook:-adsfadfdf
      <br>
      <br> Twitter:-adfadfasdf
      <br>
      <br> Google Plus:-adfdafdasf
      <br>
      <br>
    </p>
  </ion-content>
</ion-view>