<ion-view title="Rate" id="page20" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <h1 id="rate-heading13" style="color:#FFFFFF;" class="font">*****Rating*****</h1>
    <form id="rate-form2" class="list">
      <div id="rate-markdown11" class="show-list-numbers-and-dots font">
        <p style="color:#FFFFFF;font-size:19px;">Hello!!!</p>

        <p style="color:#FFFFFF;font-size:19px;">You can rate us from 1-5 according to your viewpoint.</p>
      </div>
      <div class="spacer" style="width: 300px; height: 46px;"></div>
      <ion-item class="range range-positive" id="rate-range2">Stars
        <input type="range" value="3" min="0" max="5" step="1" name="stars">
      </ion-item>
    </form>
    <button id="rate-button12" style="font-size:25px;" class="button button-light  font">Submit</button>
  </ion-content>
</ion-view>