<ion-view title="Trekking &amp; Climbing Routes" id="page15">
  <ion-content padding="false" class="has-header">
    <ion-list id="trekkingClimbingRoutes-list6">
      <ion-item class="item-thumbnail-left" id="trekkingClimbingRoutes-list-item27">
        <img src="img/XjXvhZbzTrGQf7WP3zcl_download2.jpg">
        <h2>Pokhara</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolorem minima quaerat neque necessitatibus reprehenderit eum, dicta similique modi culpa!</p>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="trekkingClimbingRoutes-list-item28">
        <img src="img/H1pANEZhQC4ytTJRuNUv_download3.jpg">
        <h2>Mustang</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolorem minima quaerat neque necessitatibus reprehenderit eum, dicta similique modi culpa!</p>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="trekkingClimbingRoutes-list-item29">
        <img src="img/io9zib9ZSa6MNxxDGrUt_download1.jpg">
        <h2>Kalinchowk</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolorem minima quaerat neque necessitatibus reprehenderit eum, dicta similique modi culpa!</p>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="trekkingClimbingRoutes-list-item30">
        <img src="img/sU78p996RciHEphz5dG5_sarangkot.jpg">
        <h2>Sarangkot</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolorem minima quaerat neque necessitatibus reprehenderit eum, dicta similique modi culpa!</p>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="trekkingClimbingRoutes-list-item31">
        <img src="img/e9D3RgkbSqeKWRKBtoSZ_dhulikhel.jpg">
        <h2>dulikhel</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolorem minima quaerat neque necessitatibus reprehenderit eum, dicta similique modi culpa!</p>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
    </ion-list>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider9" delegate-handle="slider9" id="trekkingClimbingRoutes-slider9" style="width:100%;height:200px;">
      <ion-slide-page id="trekkingClimbingRoutes-slide222" style="background:url(&quot;img/uS8dZagTRxO0PKGiRsOf_download3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="trekkingClimbingRoutes-slide223" style="background:url(&quot;img/bM5GvAKS0SC4IdLErHcE_download.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="trekkingClimbingRoutes-slide224" style="background:url(&quot;img/dNXsolQqQ0qKjmgIHVDm_download1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>